@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(229,229,229);
}

.navbar {
  margin: auto;
  max-width: 1200px;
} 

/* Top image section*/
.hero-background {
  position: relative;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #3d4855;
  background-blend-mode: luminosity;
}

.inner-wrapper {
  position: absolute;
  top: 35%;
  margin-left: -10px;
  width: 100%;
  text-align: center;
}

.inner-wrapper h1 {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: #fafafa; 
}

.inner-wrapper h5 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffaa00;
  opacity: .8;
}

/* About Me */
.about-content-card {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 6rem;
  background-color: rgb(56, 56, 56);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-card-body {
  margin-top: 2.5rem;
  margin-left: 3rem;
}

.about-heading {
  padding-top: 60px;
  color: #131313;
  color: #f4f4f4;
}

.about-me-para {
  font-size: 1.2rem;
  color: #f4f4f4;
}

.modal-button {
  margin-bottom: 1.5rem;
  height: 50px;
  width: 150px;
  text-decoration: none;
  border: none;
  color: #000000;
  background: #e29804;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-button:hover {
  color: #f2f2f2;
  background: #e29804;
  opacity: 0.8;
  transition: 0.5s;
}

.modal-content {
  color: black;
  background-color: #eeeeee;
}

.modal-title {
  color: #000000;
  font-weight: bold;
}

.modal-header {
  color: #000000;
  font-weight: 700;
}

.modal-para {
  color: #252525;
  text-align: left;
}

.modal-img {
  width: 50%; 
  padding-bottom: 5%;
}

/* Portfolio section*/

.portfolio-section {
  background-color: rgb(56, 56, 56);
  background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(56,56,56,0.13209033613445376) 50%, rgba(56,56,56,1) 100%);
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  max-width: 1200px;
  background: none;
}

.portfolio-header {
  text-align: center;
  letter-spacing: 4px;
  color: #f2f2f2;
}

.portfolio-row {
  justify-content: center;
}

.card {
  margin: 35px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-img-top {
  border: none; 
  border-radius: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  color: #131313;
  background-color: rgb(229,229,229);
}

.card-title {
  font-size: 1.3em;
  font-weight: bolder;
  color: #131313;
}

.card-text {
  padding-bottom: 10px;
  margin: 10px;
}

.btn {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  padding:10px;
  color: #000000;
  text-decoration: none;
  border: none;
  border-radius: 0;
  background: #e29804;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 

.btn:hover {
  color: #f2f2f2;
  background: #e29804;
  opacity: 0.8;
  transition: 0.5s;
}

/* Technologies section*/
  
.technologies-section {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 800px;
  margin-top: 6rem;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.technologies-section h4 {
  text-align: center;
  padding-bottom: 2rem;
}

/* Contact section */
.contact-section {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 6rem;
  background-image: url(images/contact_form_bw_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #3d4855;
  background-blend-mode: screen;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  max-width: 940px;
  background-color: rgb(56,56,56);
  box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 8px;
}

.section-header { 
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  letter-spacing: 4px;
  color: #f2f2f2;
  text-shadow: 0px 0px 15px black;
}

/* Left contact page */
.form-horizontal {
  font-weight: 400;
  margin-left: 2%;
  margin-right: 2%;
}

.form-control, 
textarea {
  letter-spacing: 2px;
  border-radius: 1.5px;
  background-color: transparent;
}

.send-button-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.send-button {
  margin-top: 40px;
  height: 50px;
  color: #000000;
  text-decoration: none;
  border: none;
  background: #e29804;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.send-button:hover {
  color: #f2f2f2;
  background: #e29804;
  opacity: 0.8;
  transition: 0.5s;
}

/* Begin Right Contact Page */
.direct-contact-container {
  margin-top: 150px;
  margin-left: 25px;
  margin-right: 50px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  width: 360px;
}

.list-item {
  margin-left: -10px;
  line-height: 4;
  color: #f2f2f2;
}

.contact-text {
  letter-spacing: 1.5px;
  color: #f2f2f2;
}

.place {
  margin-left: 23px;
}

.phone {
  margin-left: 23px;
}

.gmail {
  margin-left: 23px;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fafafa;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 54px;
  width: 54px;
  margin: 4px 4px;
  line-height: 49px;
  border-radius: 50%;
  background-color: rgb(56,56,56);
  cursor: pointer; 
  box-shadow: 0 0 0 1px #fafafa;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 54px;
  line-height: 49px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 2px #e29804;
  transition: all .4s ease-in-out;
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.copyright {
  color: #f2f2f2;
  letter-spacing: 1px;
  font-size: smaller;
  text-align: center;
}

/*Media Queries*/
@media screen and (max-width: 569px) {

  .background-image {
    height: 300px;
    width: 100%;
    background-size: cover;
  }

  .hero-background {
  position: relative;
  height: 400px;
  }

  .inner-wrapper h1 {
    font-size: 2.5rem;
  }

  .inner-wrapper h5 {
    font-size: 1.5rem;
  }

   .about-me-para {
    font-size: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .technologies-section {
    display: none;
  }

  .form-horizontal {
    display: flex;
    flex-direction: column;
    float: none;
    margin: 0 auto;
  }  

  .form-control, textarea {
    margin: 0 auto;
  }
 
  .name, .email, textarea {
    width: 400px;
  } 
  
  .social-media-list {
    left: 0;
  }
}

@media screen and (max-width: 1000px) {

  .about-heading {
    font-size: 2rem;
    padding-top: 0;
  }

  .about-me-para {
    font-size: 1rem;
    margin-right: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
  }

  .modal-button {
    margin-bottom: 1.5rem;
    height: 42px;
    width: 130px;
    text-decoration: none;
    border: none;
  }

 .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .form-horizontal {
    margin: 0 auto;
    width: 90%;
  }  
  
  .send-button {
    width: 100%;
  }

  .direct-contact-container {
    margin: 0 auto;
    width: 80%;
  }  

  .contact-list {
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
  }

  .list-item {
    line-height: 3;
  }

  .rule {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .social-media-list li {
    width: 54px;
    height: 54px;
    line-height: 49px;
  } 

  .social-media-list li:after {
    width: 54px;
    height: 54px;
    line-height: 49px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1115px) {

  .about-content-card {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 6rem;
  }

  .about-heading {
  padding-top: 0;
  }
  
  .about-me-para {
    margin-right: 1rem;
  }
  
  .modal-button {
    margin-bottom: 1.5rem;
    height: 50px;
    width: 150px;
    color: #000000;
    text-decoration: none;
    border: none;
    background: #e29804;
  }
}



  










