* {
 font-family: 'Lato', sans-serif;
}

.navbar-container {
  background: rgb(66,66,66);
  background: linear-gradient(0deg, rgba(66,66,66,1) 0%, rgba(41,41,41,1) 100%);
}

.navbar {
  height: 10vh;
  margin: auto;
  max-width: 1300px;
} 

/* Top image section*/
.background-image {
  position: relative;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  /*background-attachment: fixed;
  background-color: #383838;
  background-blend-mode: screen;  */
}

.inner-wrapper {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.inner-wrapper h1 {
  color: #f2f2f2;
  animation-duration: 0.5s;
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

.inner-wrapper h3 {
  color: #bcfd4c;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

/* About Me section*/

.about-me-section {
  background-color: #e0e0e0;
}
.about-me-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  background-color: #e0e0e0;
}

.about-me-left-side {
}

.about-me-left-side-content {
  margin: auto;
  text-align: center;
}

.photo {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-heading {
  padding-top: 30px;
  letter-spacing: 8px;
  color: #131313;
}

.about-me-para {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2rem;
  color: #131313;
}

.modal-button {
  height: 50px;
  width: 160px;
  background: rgb(54, 54, 54);
  background: linear-gradient(0deg, rgb(52, 52, 52) 0%, rgba(66,66,66,1) 100%);
  color: #FAFAFA;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #bcfd4c;
  border-radius: 0.4em;
}

.modal-button:hover {
  color: #131313;
  background: #bcfd4c;
  background: linear-gradient(0deg, rgba(159,196,89,1) 0%, rgba(188,253,76,1) 42%, rgba(188,253,76,1) 100%);
  transition: 0.5s;
}

.modal-content {
  color: #f2f2f2;
  background: #424242;
}

.modal-title {
  color: #f2f2f2;
}

.modal-header {
  color: #f2f2f2;
}

.modal-para {
  color: #f2f2f2;
  text-align: left;
}

.modal-img {
  width: 50%; 
  padding-bottom: 5%;
}

.about-me-right-side {
  color: rgb(0, 0, 0);
}

.bi bi-check-square-fill {
  height: 10px;
  width: 10px;
}

.about-content {
  text-align: left;
  color: #131313;
}

.icon-section {
  padding: 3%;
}

.icon-heading {
  margin: auto;
  text-align: center;
}

.icon-container {
}

.icons {
}

.cert-heading {
  margin: auto;
  text-align: center;
}

.cert-left-side {
  padding: 30px;
  background-color: #bcfd4c;
}

.certifications-list {
  text-align: left;
}

/* Portfolio section*/

.portfolio-section {
  background-color: #686868;
}
.portfolio-container {
  /*background-image: url(images/portfolio_background.jpg); */
  margin-left: auto;
  margin-right: auto;
  background-color: #686868;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1650px;
}

.portfolio-header {
  text-align: center;
  letter-spacing: 8px;
  color: #f2f2f2;
}

.portfolio-row {
  justify-content: center; 
}

.card {
  margin: 35px;
  border-radius: 0px;
  border: none;
  box-shadow: rgb(6, 6, 6) 0px 20px 30px -10px;
}

.card-img-top {
  border-radius: 0px;
  border: none;
}
.card-body {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  background-color: #424242;
}

.card-title {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: bolder;
  text-transform: uppercase;
}

.card-text {
  padding-bottom: 10px;
  margin: 10px;
}

.btn {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  width: 45%;
  background: rgb(54, 54, 54);
  background: linear-gradient(0deg, rgb(52, 52, 52) 0%, rgba(66,66,66,1) 100%);
  color: #FAFAFA;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #bcfd4c;
  border-radius: 0.4em;
} 

.btn:hover {
  color: #131313;
  background: #bcfd4c;
  background: linear-gradient(0deg, rgba(159,196,89,1) 0%, rgba(188,253,76,1) 42%, rgba(188,253,76,1) 100%);
  transition: 0.5s;
}

/* Contact section */
.contact-section {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  background-image: url(images/contact_form_bw_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #7a7a7a;
  background-blend-mode: screen;
  background-attachment: fixed;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  max-width: 940px;
  background-color: #424242;
  box-shadow: rgb(6, 6, 6) 0px 20px 30px -10px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  letter-spacing: 8px;
  color: #f2f2f2;
  text-transform: uppercase;
}

/* Left contact page */
.form-horizontal {
  font-weight: 400;
  margin-left: 2%;
  margin-right: 2%;
}

.form-control, 
textarea {
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: transparent;
}

.send-button {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  background: rgb(54, 54, 54);
  background: linear-gradient(0deg, rgb(52, 52, 52) 0%, rgba(66,66,66,1) 100%);
  color: #FAFAFA;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #bcfd4c;
  border-radius: 0.4em;
}

.send-button:hover {
  color: #131313;
  background: #bcfd4c;
  background: linear-gradient(0deg, rgba(159,196,89,1) 0%, rgba(188,253,76,1) 42%, rgba(188,253,76,1) 100%);
  transition: 0.5s;
}

/* Begin Right Contact Page */
.direct-contact-container {
  margin-top: 150px;
  margin-left: 25px;
  margin-right: 50px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  width: 360px;
}

.list-item {
  margin-left: -10px;
  line-height: 4;
  color: #f2f2f2;
}

.contact-text {
  letter-spacing: 1.5px;
  color: #f2f2f2;
}

.place {
  margin-left: 23px;
}

.phone {
  margin-left: 23px;
}

.gmail {
  margin-left: 23px;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #424242;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 54px;
  width: 54px;
  margin: 4px 4px;
  line-height: 49px;
  border-radius: 50%;
  background-color: #FAFAFA;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 54px;
  line-height: 49px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #bcfd4c;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #686868;
}

.copyright {
  color: #f2f2f2;
  letter-spacing: 1px;
  font-size: smaller;
  text-align: center;
}

/*Media Queries*/
@media screen and (max-width: 1000px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

.form-horizontal {
    margin: 0 auto;
    width: 90%;
  }  
  
  .send-button {
    width: 100%;
  }

  .direct-contact-container {
    margin: 0 auto;
    width: 80%;
  }  

  .contact-list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

  .list-item {
  line-height: 3;
}

  .rule {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .social-media-list li {
    width: 54px;
    height: 54px;
    line-height: 49px;
  }

  .social-media-list li:after {
    width: 54px;
    height: 54px;
    line-height: 49px;
  }
}


@media screen and (max-width: 569px) {
  .form-horizontal {
    display: flex;
    flex-direction: column;
    float: none;
    margin: 0 auto;
  }  

  .form-control, textarea {
    margin: 0 auto;
  }
 
  .name, .email, textarea {
    width: 400px;
  } 
  
  .social-media-list {
    left: 0;
  }
  








