* {
 font-family: 'Lato', sans-serif;
}

/* Fixed nav bar */
.nav-menu {
  display: inline;
  text-align: end;
  padding: 15px;

  z-index: 500;
}

.nav-menu a {
  font-size: 24px;
  color: #000000;
  -webkit-transition: all 0.4s ease-in;
}

.nav-menu a:hover {
  color: #22fc00; !important;
  -webkit-transition: all 0.4s ease-in;
}

.navbar-toggler {
    margin-top: 20px;
    margin-right: 20px;
    color: #000000;
}

.navbar-toggler:hover {
color: #22fc00; !important;
-webkit-transition: all 0.4s ease-in;
}

/* Top image section*/
.background-image {
  position: relative;
  background-size: cover;
}

.inner-wrapper {
  position: absolute;
  padding: 10px;
  width: 80%;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.inner-wrapper h1 {
  color: rgb(255, 255, 255);
  animation-duration: 0.5s;
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

.inner-wrapper h3 {
  color: #22fc00;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
   0% {opacity:0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

/* About Me section*/
.about-me-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.about-me-left-side {
  height: 100%;
  position: relative;
  text-align: center;
}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.about-heading {
  padding-top: 50px;
  text-align: center;
  letter-spacing: 8px;
}

.about-me-para {
  text-align: center;
  font-size: 1.4rem;
  
}

.about-me-right-side {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 60%;
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

.bi bi-check-square-fill {
  height: 10px;
  width: 10px;
}

.about-content {
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  text-align: left;
  border-radius: 4px;
 box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.cert-heading {
  margin-left: 4%;
  text-align: left;
}

.certification-art {
  margin-left: 0%;
  text-align: left;
}
.certifications-list {
  margin-left: 5%;
  text-align: left;
}

.icon-section {
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
}

.icon-header {
  text-align: center;
}

.icons {
  text-align: center;
}

/* Portfolio section*/
.portfolio-container {
  box-shadow: rgba(166, 166, 169, 0.25) 0px 30px 60px -12px inset, rgba(48, 48, 48, 0.3) 0px 18px 36px -18px inset;
}
.portfolio-header {
  text-align: center;
  letter-spacing: 8px;
}

.portfolio-row {
  justify-content: center; 
}

.card {
  margin: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-title {
  color: #000000;
  font-size: 1.3em;
  font-weight: bolder;
  text-transform: uppercase;
}

.card-text {
  padding-bottom: 10px;
  margin: 10px;
}

.btn {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  text-transform: uppercase;
  overflow: hidden;
}

/* Contact section */
.contact-section {
  width: 100%;
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(images/contact_form_bw_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #686868;
  background-blend-mode: soft-light;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  max-width: 940px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 8px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  letter-spacing: 8px;
  color: rgb(55, 55, 55);
  text-transform: uppercase;
}

/* Left contact page */
.form-horizontal {
  font-weight: 400;
  margin-left: 2%;
  margin-right: 2%;
}

.form-control, 
textarea {
  color: rgb(55, 55, 55);
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 50px;
  width: 400px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid rgb(55, 55, 55);
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

.send-button:hover {
  border: 1px solid #22fc00;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 55, 55);
}

/* Begin Right Contact Page */
.direct-contact-container {
  margin-top: 150px;
  margin-left: 25px;
  margin-right: 50px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  width: 360px;
}

.list-item {
  margin-left: -10px;
  line-height: 4;
  color: rgb(55, 55, 55);
}

.contact-text {
  letter-spacing: 1.5px;
  color: rgb(55, 55, 55);
}

.place {
  margin-left: 23px;
}

.phone {
  margin-left: 23px;
}

.gmail {
  margin-left: 23px;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: rgb(255, 255, 255);
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 4px 4px;
  line-height: 60px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 55, 55);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #22fc00;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {

}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #22fc00;
}

.copyright {
  color: rgb(62, 62, 62);
  letter-spacing: 1px;
 font-size: smaller;
  text-align: center;
}

/*Media Queries*/
@media screen and (max-width: 1000px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container, .form-wrapper {
    display: flex;
    flex-direction: column;
    float: none;
    margin: 0 auto;
  }  

  .form-control, textarea {
    margin: 0 auto;
  }
 
  .name, .email, textarea {
    width: 400px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 48px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
    }
  }
  
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}









